<!DOCTYPE HTML>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
    <title>bitwrap.io</title>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- css -->
    <link rel="stylesheet" href="https://bitwrap.github.io/style/site.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/0.10.12/css/jquery.terminal.min.css" crossorigin="anonymous"/>
    <!-- logo -->
    <link rel="icon" type="image/png" href="https://bitwrap.github.io/image/bw-logo.png" />
    <!-- js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/bitwrap.io/lib/coffee-script.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsondiffpatch/0.1.43/jsondiffpatch.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/0.10.12/js/jquery.terminal.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsondiffpatch/0.1.43/jsondiffpatch-formatters.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/bitwrap.io/bundle.js" crossorigin="anonymous"></script>
</head>
<body>
    <app>
      <div id="nav-menu"></div>
      <div id="app-layout"></div>
      <script> var Bitwrap = { config: '/config/default.json' } </script>
      <script src="https://s3.amazonaws.com/getmarble.co/bundle.js" type="text/javascript"></script>
    </app>
  </body>
</html>
