-e git+https://github.com/bitwrap/bitwrap-python.git#egg=bitwrap
-e git+https://github.com/bitwrap/bitwrap-storage-actordb.git#egg=bitwrap_storage_actordb
cyclone==1.1
service-identity==16.0.0
cffi==1.7.0
lmdb==0.92
python-arango==3.4.0
txRDQ==0.2.14
xxhash==0.6.1
ujson==1.35
thrift==0.9.3
